*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: cornflowerblue;
    height: 100vh;
    width: 100vw;
    
}

#maincont{
    width: 272px;
    height: 520px;
    background: white;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}